<% content_for :title, "お問い合わせ" %>
<div class="container mt-56">
  <h1>お問い合わせ</h1>
  <hr class="mt-2">
  <p class="mt-5 fs-3">Gamers Itemに関するお問い合わせ、不具合の報告などございましたら、下記のアドレスにご連絡ください。</p>
  <p class="mt-1 fs-3">ご感想、不具合のご報告なども頂けますと幸いです！</p>
  <p class="mt-1 fs-3">gamersitem.info@gmail.com</P>
</div>
