<% content_for :title, "プライバシーポリシー" %>
<div class="container mt-56">
  <div>
    <h1>プライバシーポリシー</h1>
    <hr class="mt-2">
    <p class="mt-5 fs-5">GamersItem（以下、「当方」といいます。）は、本ウェブアプリ上で提供するサービス（以下、「本サービス」といいます。）におけるお客様の個人情報の取扱いについて、以下のとおりプライバシーポリシー（以下、「本ポリシー」といいます。）を定めます。</p>
  </div>
  <div class="mt-5">
    <h3>お客様から取得する情報</h3>
    <p class="fs-5 mt-4">当方は、お客様から以下の情報を取得します。</p>
    <ul class="pp-list fs-5 mt-3">
      <li>氏名（ニックネームやペンネームも含む）</li>
      <li>メールアドレス</li>
      <li>その他当サービスが定める入力フォームにお客様が入力する情報</li>
    </ul>
  </div>
  <div class="mt-5">
    <h3>お客様の情報を利用する目的</h3>
    <p class="fs-5 mt-4">当方が個人情報を収集・利用する目的は，以下のとおりです。</p>
    <ul class="pp-list fs-5 mt-3">
      <li>本サービスに関する登録の受付、お客様の本人確認、認証のため</li>
      <li>お客様からのお問い合わせに対応するため</li>
      <li>本サービスの利用規約や法令に違反する行為に対応するため</li>
      <li>本サービスの変更、提供中止、終了、契約解除を連絡するため</li>
      <li>本サービス規約の変更等を通知するため</li>
      <li>以上の他、管理者サービスの提供、維持、保護及び改善のため</li>
    </ul>
  </div>
  <div class="mt-5">
    <h3>安全管理のために講じた措置</h3>
    <p class="fs-5 mt-4">当方が、お客様から取得した情報に関して安全管理のために講じた措置につきましては、末尾記載のお問い合わせ先にご連絡をいただきましたら、法令の定めに従い個別にご回答させていただきます。</p>
  </div>
  <div class="mt-5">
    <h3>第三者提供</h3>
    <p class="fs-5 mt-4">当方は、お客様から取得する情報のうち、個人データ（個人情報保護法第２条第６項）に該当するものついては、あらかじめお客様の同意を得ずに、第三者（日本国外にある者を含みます。）に提供しません。<br>但し、次の場合は除きます。</p>
    <ul class="pp-list fs-5 mt-3">
      <li>人の生命，身体または財産の保護のために必要がある場合であって，本人の同意を得ることが困難である場合</li>
      <li>国の機関もしくは地方公共団体またはその委託を受けた者が法令の定める事務を遂行することに対して協力する必要がある場合であって，本人の同意を得ることにより当該事務の遂行に支障を及ぼすおそれがある場合</li>
      <li>個人データの取扱いを外部に委託する場合</li>
      <li>当方や本サービスが買収された場合</li>
      <li>事業パートナーと共同利用する場合（具体的な共同利用がある場合は、その内容を別途公表します。）</li>
      <li>その他、法律によって合法的に第三者提供が許されている場合</li>
    </ul>
  </div>
  <div class="mt-5">
    <h3>プライバシーポリシーの変更</h3>
    <p class="fs-5 mt-4">当方は、必要に応じて、本ポリシーの内容を変更します。本ポリシーの内容は、法令その他本ポリシーに別段の定めのある事項を除いて、お客様に通知することなく、変更することができるものとします。当方が別途定める場合を除いて、変更後のプライバシーポリシーは、本サービス中のウェブページに掲載したときから効力を生じるものとします。</p>
  </div>
  <div class="mt-5">
    <h3>お問合せ</h3>
    <p class="fs-5 mt-4">お客様の情報の開示、情報の訂正、利用停止、削除をご希望の場合は、<%= link_to "お問い合わせリンク", contact_path, class: "text-info" %>からご連絡ください。</p>
  </div>
  <div class="mt-48">
    <p class="fs-4">以上</p>
    <p class="fs-4 mt-2">2023年9月28日制定</p>
  </div>
</div>
