.title {
  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 32px;
    
    .top_img {
      max-width: 100%;
    }
  }
}

// 検索欄
.search-border {
  width: 60%;
  margin: 0 auto 0;
}

// 一覧部分タイトル
.lists-title {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h2 {
    font-size: 1.8rem;
    margin: 0;
  }

  a {
    color: #679EF1;
    font-size: 1.2rem;
  }
}

// 画面幅500px以上の場合
@media screen and (min-width:500px) {

  .gadget-image-md {
    width: 45%;
    height: 132px;
  }
}

// 画面幅768px以上の場合
@media only screen and (max-width: 834px) {

  .lists-title {
    h2 {
      font-size: 2.3rem;
    }

    a {
      font-size: 1.5rem;
    }
  }
}
